/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp B  &kp L  &kp D             &kp C         &kp V        &kp J    &kp Y          &kp O          &kp U          &kp COMMA   &kp BSPC
&mo 1      &kp N  &kp R  &kp T             &kp S         &kp G        &kp P    &kp H          &kp A          &kp E          &kp I       &mo 2
&kp LSHFT  &kp X  &kp Q  &kp M             &kp W         &kp Z        &kp K    &kp F          &kp SQT        &kp SEMICOLON  &kp PERIOD  &kp ESC
                         &kp LEFT_CONTROL  &kp LEFT_GUI  &kp SPACE    &kp RET  &kp RIGHT_ALT  &kp BACKSLASH
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB    &kp N1                &kp N2                &kp N3             &kp N4           &kp N5        &kp N6    &kp N7         &kp N8  &kp N9     &kp N0   &kp BSPC
&mo 1      &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE    &kp LEFT  &kp DOWN       &kp UP  &kp RIGHT  &trans   &mo 2
&kp LSHFT  &kp F1                &kp F2                &kp F3             &kp F4           &kp F5        &kp F6    &kp F7         &kp F8  &kp F9     &kp F10  &kp ESCAPE
                                                       &trans             &kp LEFT_GUI     &kp SPACE     &kp RET   &kp RIGHT_ALT  &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB    &kp EXCL  &kp AT    &kp HASH   &kp DLLR      &kp PRCNT    &kp CARET  &kp AMPS       &kp KP_MULTIPLY  &kp LPAR   &kp RPAR          &kp BSPC
&mo 1      &kp LT    &kp LPAR  &kp LBKT   &kp LBRC      &kp MINUS    &kp PLUS   &kp RBRC       &kp RBKT         &kp RPAR   &kp GREATER_THAN  &mo 2
&kp LSHFT  &trans    &trans    &kp TILDE  &kp UNDER     &trans       &trans     &kp EQUAL      &kp GRAVE        &kp SLASH  &trans            &kp ESCAPE
                               &trans     &kp LEFT_GUI  &kp SPACE    &kp RET    &kp RIGHT_ALT  &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
