/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        up: up {
            compatible = "zmk,behavior-mod-morph";
            label = "UP";
            bindings = <&kp UP>, <&msc SCRL_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };

        down: down {
            compatible = "zmk,behavior-mod-morph";
            label = "DOWN";
            bindings = <&kp DOWN>, <&msc SCRL_DOWN>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };

        left: left {
            compatible = "zmk,behavior-mod-morph";
            label = "LEFT";
            bindings = <&kp LEFT>, <&msc SCRL_LEFT>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };

        right: right {
            compatible = "zmk,behavior-mod-morph";
            label = "RIGHT";
            bindings = <&kp RIGHT>, <&msc SCRL_RIGHT>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };

        p_undo: p_undo {
            compatible = "zmk,behavior-mod-morph";
            label = "P_UNDO";
            bindings = <&kp P>, <&kp C_AC_UNDO>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_LCTL)>;
            keep-mods = <(MOD_LCTL|MOD_LGUI)>;
        };

        h_cut: h_cut {
            compatible = "zmk,behavior-mod-morph";
            label = "H_CUT";
            bindings = <&kp H>, <&kp C_AC_CUT>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_LCTL)>;
            keep-mods = <(MOD_LCTL|MOD_LGUI)>;
        };

        a_copy: a_copy {
            compatible = "zmk,behavior-mod-morph";
            label = "A_COPY";
            bindings = <&kp A>, <&kp C_AC_COPY>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LGUI)>;
            keep-mods = <(MOD_LCTL|MOD_LGUI)>;
        };

        e_paste: e_paste {
            compatible = "zmk,behavior-mod-morph";
            label = "E_PASTE";
            bindings = <&kp E>, <&kp C_AC_PASTE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LGUI)>;
            keep-mods = <(MOD_LGUI|MOD_LCTL)>;
        };

        hold_tap_mo: hold_tap_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_MO";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            tapping-term-ms = <200>;
        };

        hold_tap_kp: hold_tap_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB  &kp B  &kp L  &kp D             &kp C         &kp V            &kp J                           &kp Y                         &kp O          &kp U          &kp COMMA            &kp DELETE
&to 1    &kp N  &kp R  &kp T             &kp S         &kp G            &p_undo                         &h_cut                        &a_copy        &e_paste       &kp I                &to 2
&none    &kp X  &kp Q  &kp M             &kp W         &kp Z            &kp K                           &kp F                         &kp SQT        &kp SEMICOLON  &mt QUESTION PERIOD  &kp ESC
                       &kp LEFT_CONTROL  &kp LEFT_GUI  &kp BACKSPACE    &hold_tap_kp RIGHT_SHIFT SPACE  &hold_tap_kp RIGHT_ALT ENTER  &kp BACKSLASH
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&trans  &kp N1   &kp N2   &kp N3             &kp N4           &kp N5        &kp N6  &kp N7  &kp N8  &kp N9  &kp N0   &trans
&trans  &kp F11  &kp F12  &kp K_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE    &left   &down   &up     &right  &kp F13  &trans
&trans  &kp F1   &kp F2   &kp F3             &kp F4           &kp F5        &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
                          &trans             &trans           &trans        &trans  &trans  &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&trans  &kp EXCL  &kp AT    &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans
&trans  &kp LT    &kp LPAR  &kp LBKT   &kp LBRC   &kp MINUS    &kp PLUS   &kp RBRC   &kp RBKT         &kp RPAR              &kp GREATER_THAN      &trans
&trans  &none     &none     &kp TILDE  &kp UNDER  &none        &none      &kp EQUAL  &kp GRAVE        &kp SLASH             &none                 &trans
                            &trans     &trans     &trans       &trans     &trans     &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
